$dark: #000 !important;
$darker: #111;
$dark-medium: #222;
$dark-low: #666;
$light-low: #999;
$light-medium: #ddd;
$lighter: #ddd;
$light: #fff !important;
$feature: #4c00ff;
$feature-dark: #7600d6;

:root {
    --dark: #{dark};
    --darker: #{$darker};
    --dark-medium: #{$dark-medium};
    --dark-low: #{$dark-low};
    --light-low: #{$light-low};
    --light-medium: #{$light-medium};
    --lighter: #{$lighter};
    --light: #{$light};
    --feature: #{$feature};
    --feature-dark: #{$feature-dark};
}